.modal__container {
  position: absolute;
  z-index: 99;
  background-color: var(--darker-background-color);
  border: 2px solid var(--contrast-color);
  border-right: none;
  border-top: none;
  right: 0;
  top: 82px;
  max-width: 20%;
  min-width: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    border-bottom: 2px solid var(--contrast-color);
    width: 75%;
    text-align: center;
  }
}
.modal__description {
  width: 95%;
  font-weight: bold;
}

.modal__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid var(--contrast-color);
  ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .list__numbers {
    flex: 10%;
    border-right: 2px solid var(--contrast-color);
    text-align: center;
    li {
      border-bottom: 2px solid var(--contrast-color);
    }
  }
  .list__preferences {
    flex: 85%;
    li {
      padding-left: 1em;
      border-bottom: 2px solid var(--contrast-color);
      background-color: rgba(112, 112, 112, 0.521);
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 var(--background-color), 1px -1px 0 var(--background-color),
        -1px 1px 0 var(--background-color), 1px 1px 0 var(--background-color);
    }
  }
  li {
    padding: 1.5em 0;
  }
}
.preferences__container {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding-bottom: 1em;
}
