nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid var(--contrast-color);
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--contrast-color);

  .nav__svg {
    height: 40px;
    width: 40px;
    filter: var(--svg-color);
  }
}

.logo__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  flex: 20%;

  p {
    padding: 0;
    margin: 0;
    color: var(--contrast-color);
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.search__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex: 60%;
  height: 100%;
}
.nav-links__container {
  flex: 20%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;

  button {
    padding: 0 0.5em 0 0.5em;
  }

  .toggle__button,
  .preferences__button {
    cursor: pointer;
    transition: all 1s;
    transform-origin: 50% 50%;
    border: none;
    background-color: transparent;

    &:hover {
      transform: scale(1.2);
    }
  }
}
