.city-data__container {
  background-color: var(--background-color);
  color: var(--contrast-color);
}
.section__title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 1em;
}
.city__banner,
.city__demographics,
.city__race,
.city__crime {
  background-color: var(--darker-background-color);
}
.city__banner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.city__banner img {
  width: 5%;
  height: auto;
  padding-bottom: 3em;
}
.banner__title {
  font-size: 4rem;
}
.banner__svg {
  filter: var(--svg-color);
}
.section__title {
  font-size: 2rem;
}

.quick__title-and-tooltip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tooltip__container {
  position: relative;

  &:hover {
    .tooltip__hover {
      display: block;
    }
  }
}
.tooltip__icon {
  position: relative;
  padding: 1.5px 6px;
  border-radius: 100%;
  border: 2px solid var(--contrast-color);
  font-size: 0.75rem;
  cursor: help;
}
.tooltip__hover {
  display: none;
  position: absolute;
  font-size: 1rem;
  background-color: black;
  padding: 0.25em;
  border-radius: 10%;
  top: -60px;
  right: -79px;
  width: 120px;
}
.quick__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 150px;
  width: 100%;
  padding-bottom: 1em;
  .city__quick {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .quick__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 30% 1 1;
    text-align: center;
    border: 1px solid var(--contrast-color);
    min-height: 250px;
    margin: 0.5em 0.25em;

    .quick__svg {
      width: 50px;
      height: 50px;
      filter: var(--svg-color);
      padding-bottom: 0.5em;
    }

    .quick__title {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    p,
    li {
      margin: 0;
      font-size: 1.25rem;
    }

    .quick__education-list {
      list-style-type: square;
      text-align: left;
    }
  }
}

.city__population {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.population__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
  div {
    flex: 50%;
  }
}
.population__number {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  img {
    filter: var(--svg-color);
    width: 250px;
    height: auto;
  }
  .number__text {
    font-size: 3rem;
    font-weight: bold;
    margin: -55px 0 1em 0;
  }
}
.city__race {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.race__container {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  div {
    flex: 50%;
    text-align: center;
  }
  .race__graph {
    padding-bottom: 2em;
  }
  .secondary__data {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    right: 0;
    bottom: 0;
    margin-right: 10px;

    ul {
      list-style-type: none;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      color: var(--contrast-color);
      margin: 0;
      padding: 0.25em;
      .list__box {
        margin-right: 0.25em;
      }
      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        p {
          margin: 0 0.5em 0 0;
        }
      }

      .list__box {
        height: 15px;
        width: 15px;
        border-radius: 100%;
      }
    }
  }
}
.race__image img {
  filter: var(--svg-color);
  width: 250px;
  height: auto;
}

.city__marital {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.marital__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  div {
    flex: 50%;
    text-align: center;
  }
}
.marital__image img {
  filter: var(--svg-color);
  width: 250px;
  height: auto;
}
.marital__graph {
  padding-bottom: 2em;
}

.city__crime {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 4em;
}
.crime__graph {
  display: inline;
  width: 80%;
  min-height: 350px;
  padding: 2em;
}
